.wrapper {
  max-width: 375px;
  width: 100%;
  margin: auto;
}

.staton-head {
  background: greenyellow;
}

.station-detail {
  border-bottom: 2px solid grey;
  padding: 5px 0;
}

.station-detail:after {
  content: "";
  display: table;
  clear: both;
}

.bus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  color: #fff;
  padding: 2px;
  max-width: 80px;
  text-align: center;
  word-break: break-all;
  font-weight: 600;
  line-height: 1.2;
  font-size: 1rem;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 10000px;
  font-family: 微軟正黑體, "Noto Sans TC", Roboto;
}

.isCloseTime{
  background-color: #ffc107;
}

.isCloseDis{
  background-color: rgb(255, 25, 0);
} 

.isComing{
  background-color: rgb(255, 132, 0);
}

.isOff {
  background-color: #6c757d;
}

.isCome {
  background-color: #28a745;
}